@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject CustomAuthenticationStateProvider AuthProvider

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                @if (isAuthenticated)
                {
                    <button class="btn btn-danger" @onclick="HandleLogout">Logout</button>
                }
                else
                {
                   <button class="btn btn-primary" @onclick="RedirectToLogin">Login</button>

                }


                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

@code {
    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        isAuthenticated = authState.User.Identity.IsAuthenticated;
    }
    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/");

    }

    private async Task HandleLogout()
    {
        await AuthProvider.Logout();
        Navigation.NavigateTo("/", forceLoad: true);
    }

}
